p.description {
    color: white;
    text-shadow: 1px 1px 1px black;
    filter: url(#noise) !important;
}

section.banner-brand__wrapper {
    overflow: hidden;
    height: 100vh;
}

video.lobbybg {
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    left: 0;
}

@media screen {

}

p.tagline {
    color: white !important;
    text-shadow: 1px 1px 1px black;
}

@font-face {
    font-family:Industry-Book;
    src: url("font/Industry-Book.ttf");
}

.banner-brand__content {
    z-index: 1;
    mix-blend-mode: difference;
    font-family: Industry-Book;
    font-size: 75px;
}

.banner-brand__wrapper .banner-brand__content {
    max-width: 1000px !important;
}

h1.description {
    font-size: 80px !important;
    font-weight: bold;
    line-height: 70px !important;
    color: white;
    text-shadow: 1px 1px 2px gray, 2px 2px 2px gray;
    filter: url(#noise) !important;
}